.character-card {
  text-decoration: none;
  color: #000;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 10px;
  background-color: var(--main-color);
  font-family: "Neucha", cursive;
  box-shadow: 0 3px 30px 0 rgb(0 0 0 / 66%), inset 0 0 0 5px #333,
    inset 0 0 0 6px hsl(0deg 0% 100% / 50%);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
  overflow: hidden;
  display: block;
}
.character-avatar {
  border-radius: 20px;
}
.character-name {
  font-size: 20px!important;
  height: 40px;
  background-color: #fff;
  text-align: center;
  margin-top: 5px;
  padding: 12px 2px 5px 2px;
  font-weight: bold!important;  
}
